.main-content {
  padding: 15rem 10rem;
  background-color: #fff;

  .cards-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media (max-width: 767px) {
  .main-content {
    padding: 7rem 3rem;
  }
}
